body {
    height: 98vh;
    width: 98vw;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.auth-container {
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}