.container {
    height: 98vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container a {
    height: 4.5vh;
    width: 9vw;
    border-radius: 0.7vw;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    background-color: var(--accent-color);
    margin-bottom: 1vh;
}

.container a:hover {
    background-color: var(--hover-color);
}

.container h3 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2vw;
}
