.info {
    margin-top: 5vh;
    width: 30vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    font-size: 1vw;
}

.txt {
    width: 23vw;
    height: 7vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.invis {
    width: 0.1vw;
    height: 0.1vh;
    visibility: hidden;
}

#exit {
    background-color: var(--accent-color);
    border-radius: 1vw;
    height: 4vh;
    width: 6vw;
    text-decoration: none;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#exit:hover {
    background-color: var(--hover-color);
}

.new {
    background-color: var(--accent-bg-color);
    height: 5vh;
    width: 9vw;
    border: none;
    border-radius: 1vw;
    color: var(--text-color);
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2vh;
}

.new:hover {
    background-color: var(--hover-color);
    color: var(--bg-color);
}

form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: var(--accent-bg-color);
    height: 5vh;
    width: 25vw;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title input {
    width: 23vw;
    height: 3.5vh;
    border: none;
    border-radius: 1vw;
    background-color: var(--bg-color);
    padding-left: 1vw;
    font-size: 1vw;
}

.time {
    margin-top: 2vh;
    background-color: var(--accent-bg-color);
    height: 8vh;
    width: 25vw;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.time label {
    width: 23vw;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time input {
    width: 12vw;
    height: 3.5vh;
    border: none;
    border-radius: 1vw;
    background-color: var(--bg-color);
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}

.repeat {
    margin-top: 2vh;
    background-color: var(--accent-bg-color);
    height: 12vh;
    width: 25vw;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.repeat label {
    width: 23vw;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.repeat select {
    width: 10vw;
    height: 3.5vh;
    border-radius: 1vw;
    background-color: var(--bg-color);
    border: none;
    font-size: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.repeat input {
    width: 12vw;
    height: 3.5vh;
    border: none;
    border-radius: 1vw;
    background-color: var(--bg-color);
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}

#endLabel {
    visibility: hidden;
}

.alert {
    margin-top: 2vh;
    background-color: var(--accent-bg-color);
    height: 4vh;
    width: 25vw;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.alert label {
    width: 23vw;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.alert select {
    width: 10vw;
    height: 3.5vh;
    border-radius: 1vw;
    background-color: var(--bg-color);
    border: none;
    font-size: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.button {
    background-color: var(--accent-color);
    border-radius: 1vw;
    height: 4vh;
    width: 6vw;
    text-decoration: none;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: none;
    margin-bottom: 1vh;
    font-size: 1vw;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover-color);
}

.button-accent {
    background-color: var(--bg-color);
    border-radius: 1vw;
    border: 0.1vw solid var(--text-color);
    height: 4vh;
    width: 6vw;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1vh;
    font-size: 1vw;
    cursor: pointer;
}

.button-accent:hover {
    background-color: var(--event-color);
    color: var(--bg-color);
}

#form, #cancel, #delete {
    visibility: hidden;
}