h1 {
    font-size: 2vw;
    color: var(--text-color);
}

form {
    height: 40vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    background-color: var(--bg-color);
    width: 25vw;
    height: 5vh;
    border-radius: 1vw;
    color: var(--text-color);
    border: solid var(--text-color) 0.1vw;
    margin: 1vh;
    font-size: 1.1vw;
    padding-left: 1vw;
}

.button {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 1vw;
    margin-top: 5vh;
    font-size: 1.1vw;
    cursor: pointer;
}

form h3 {
    font-weight: 500;
    font-size: 1.1vw;
}

.button:hover {
    background-color: var(--hover-color);
}

.link {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1vw;
    font-weight: 500;
    color: var(--text-color);
}
