body {
    height: 98vh;
    width: 98vw;
    background-color: var(--bg-color);
    font-family: arial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    color: var(--text-color);
    font-size: 1.2vw;
}

.container {
    width: 35vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 30vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#code {
    background-color: var(--bg-color);
    width: 9vw;
    height: 5vh;
    border-radius: 1vw;
    color: var(--text-color);
    border: solid var(--text-color) 0.1vw;
    font-size: 1.5vw;
    font-weight: 500;
    margin-right: 2vw;
    text-align: center;
}

.button {
    width: 6vw;
    height: 5vh;
    background-color: var(--accent-color);
    text-align: center;
    border: none;
    border-radius: 1vw;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 1.1vw;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover-color);
}

.container h2 {
    font-size: 1.1vw;
    color: var(--text-color);
    font-weight: 600;
}