h1 {
    font-size: 4vh;
    color: var(--text-color);
}

form {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    background-color: var(--bg-color);
    width: 80vw;
    height: 7vh;
    border-radius: 1vh;
    color: var(--text-color);
    border: solid var(--text-color) 0.1vw;
    margin: 1vh;
    font-size: 2vh;
    padding-left: 2vw;
}

.button {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 50vw;
    height: 7vh;
    border: none;
    border-radius: 1vh;
    margin-top: 5vh;
    font-size: 2vh;
    cursor: pointer;
}

form h3 {
    font-weight: 500;
    font-size: 2vh;
}

.button:hover {
    background-color: var(--hover-color);
}

.link {
    text-decoration: none;
    cursor: pointer;
    font-size: 2vh;
    font-weight: 500;
    color: var(--text-color);
}
