body {
    height: 100vh;
    width: 98vw;
    background-color: var(--bg-color);
    font-family: arial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    color: var(--text-color);
    font-size: 2vh;
    text-align: center;
}

.container {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 90vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#code {
    background-color: var(--bg-color);
    width: 50vw;
    height: 7vh;
    border-radius: 1vh;
    color: var(--text-color);
    border: solid var(--text-color) 0.1vw;
    font-size: 3vh;
    font-weight: 500;
    margin-right: 2vw;
    text-align: center;
}

.button {
    width: 20vw;
    height: 7vh;
    background-color: var(--accent-color);
    text-align: center;
    border: none;
    border-radius: 1vh;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 2vh;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover-color);
}

.container h2 {
    font-size: 2vh;
    color: var(--text-color);
    font-weight: 600;
    width: 90vw;
    text-align: center;
}